.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
resources/**
.gitignore
**/tsconfig.json
**/eslint.config.mjs
**/rolldown.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.log
*.vsix
CONSTITUTION.md
DEVELOPMENT_NOTES.md
SUPPORT.md
